body{background-color: black
}

.izquierda{
	width: 28%;
	background-color:#585d57;
	position: relative;
	margin-left:25%; 
	margin-right: 3%;
}

.derecha{

	position: relative;
	margin-right: 10%;
	margin-top: 3%;
}

.derecha, .izquierda{
  display: inline-block;
  position: relative;
  width: 25%;
  height: auto;
}

.porfolio{
	background-color:#585d57;

}

.porfo{
	margin-left: 10%;
}

a{
	text-decoration: none;
	color: black;
}

h1{
	color: white;
}
h2{
	color: #1bff00;
}

ul{
	color: white;
	list-style: none;
}

p{
	color: white;
}

.imagen{
	width:100%;
	height: auto;
}

.caja{
	margin-left: 4%;
}